.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

* {
	position: relative;
}
.navbar-toggle:hover{
    background-color: #E74C3C;
}
.navbar-toggle:focus {
  background-color: #2C3E50;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}

.justify-text {
	text-align: justify;
}

.navbar {
	background-color: #e4e6e5;
	background-color: rgba( 228, 230, 229, .85 );
	border-bottom: 0 none;
	font-size: 12px;
	transition: .25s all linear;
}

.navbar.inv {
	background-color: rgba( 0, 0, 0, .4 );
	border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
	color: #5f5f5f;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar.inv a {
	color: #e4e6e5;
}


.navbar-responsive-collapse {
	margin: 0 auto;
	width: 80%;
}

.navbar-toggle:focus {
    outline: 0;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

 .navbar-brand .navbar-toggle:focus,
 .navbar-toggle:active {
    outline: 0;
}
/* end add*/
.nav li {
	text-align: center;
	white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

.navbar-brand {
	padding: 8px;
}

.active-menu {
    background-color: #5f5f5f;
	content: '.';
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .5 linear;
	width: 1%;
	z-index: 9;
}

.inv .active-menu {
	background-color: #e4e6e5;
}

.special-active-menu {
	z-index: 10;
}

#special-active-menu-2,
#special-active-menu-5 {
	background-color: #2980B9 !important;
}

#special-active-menu-1 {
	background-color: #E74C3C !important;
}

#special-active-menu-3 {
	background-color: #16a085 !important;
}
#special-active-menu-4 {
	background-color: #2C3E50 !important;
}

@media (max-width: 767px) {

	.nav li {
		text-align: left;
		white-space: nowrap;
	}

	.navbar-responsive-collapse  {
		width: 100%;
	}

	.active-menu {
		display: none !important;
	}

	.navbar-toggle {
		margin-right: 10px;
	}

	.navbar {
		background-color: #e4e6e5 !important;
		padding: 0;
	}

	.navbar .nav a {
		color: #5F5F5F;
		font-size: 16px;
		padding-left: 0;
	}
/*
	.fa {
		margin-right: 12px;
	}
*/
	.nav li[data-slide="1"],
	.nav li[data-slide="5"] {
		background-color: #e4e6e5;
	}

	.nav li[data-slide="2"] {
		background-color: #e4e6e5;
	}

	.nav li[data-slide="3"] {
		background-color: #e4e6e5;
	}
	.nav li[data-slide="4"] {
		background-color: #e4e6e5;
	}

	.navbar-brand {
		margin: 0;
		text-align: left;
	}
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 65px;
	padding-top: 50px;
	text-align: center;
}

#slide-1 {
    /*
    background-image: url('../images/intro.png');
    opacity: 0.4;

    background-color: rgba( 228, 230, 229, .85 );
    background: -webkit-linear-gradient(top , #E4E6E5 , #2980b9);
    background: -moz-linear-gradient(top , #E4E6E5 , #2980b9);
    background: -o-linear-gradient(top , #E4E6E5 , #2980b9);
    background: -ms-linear-gradient(top , #E4E6E5 , #2980b9);
    background: linear-gradient(top , #E4E6E5, #2980b9);

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
	background-attachment: relative;
	background-position: center center;
    */
    display: table;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('../images/intro.png') no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    #slide-1 {
        height: 100%;
        padding: 0;
    }
}

#slide-1 h1 {
    color: #e74c3c;
    text-shadow: 2px 2px 4px #c5c5c5;
	padding-top: 130px;
}

	#home-row-1,
	#home-row-2 {
		padding-top: 25px;
	}

	#home-row-1 h1 {
		font-size: 54px;
	}

	#home-row-1 h4 {
        color: #5F5F5F;
		font-size: 32px;
        text-shadow: 2px 2px 4px #E74C3C;
	}

	#home-row-2 {
		font-size: 25px;
	}

	#home-row-2 .col-12 {
		height: 232px;
		padding-top: 30px;
	}

	#home-row-2 .col-12 .home-hover {
		height: 166px;
		overflow: hidden;
		padding-top: 26px;
		transition: all ease-in .5s;
	}

	#home-row-2 .col-12 .home-hover:hover {
		height: 166px;
		padding-top: 0;
	}


@media (max-width: 767px) {
	#home-row-1,
	#home-row-2 {
		padding-top: 16px;
	}

	#home-row-1 h1 {
		font-size: 35px;
	}

	#home-row-1 h4 {
		font-size: 21px;
	}

	#home-row-2 {
		font-size: 16px;
	}
}

#slide-2 {
	background-color: #2980b9;
	color: #077777;
	padding-top: 90px;
    padding-bottom: 90px;
}

    .title-row {
		font-size: 45px;
		padding-bottom: 20px;
        color:#e74c3c;
        text-shadow: 0.5px 0.5px 1px #E4E6E5;
	}

	.line-row .hr {
		height: 3px;
		margin: 0 auto;
        background: -webkit-linear-gradient(left ,transparent, rgba(255, 255, 255, 0.75), transparent);
        background: -moz-linear-gradient(left ,transparent, rgba(255, 255, 255, 0.75), transparent);
        background: -o-linear-gradient(left ,transparent, rgba(255, 255, 255, 0.75), transparent);
        background: -ms-linear-gradient(left ,transparent, rgba(255, 255, 255, 0.75), transparent);
        background: linear-gradient(left ,transparent, rgba(255, 255, 255, 0.75), transparent);
	}

	.subtitle-row {
		font-size: 35px;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.content-row {
		padding-top: 45px;
	}

	.content-row i,
	#about-row-5 i {
		display: inline-block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}

	.content-row h2 {
		font-size: 28px;
		padding-bottom: 40px;
        color:#E4E6E5;
	}

	.content-row h4 {
		font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 20px;
		font-weight: 300;
	}

	i {
		font-size: 80px;
		color: white;
	}

    .btn-default {
        color: #E4E6E5;
        background-color: #2c3e50;
        border-color: #E4E6E5;
    }
    .btn-lg {
        padding: 10px 16px;
        font-size: 16px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    background-color: rgba(0, 0, 0, 0.4);;
    border-color: #E74C3C;
    color: #E4E6E5;
    }
}

@media (max-width: 767px) {
	.title-row {
		font-size: 34px;
		padding-bottom: 33px;
	}

	.subtitle-row {
		font-size: 26px;
		padding-bottom: 26px;
		padding-top: 26px;
	}

	.content-row {
		padding-top: 29px;
	}

	.content-row h2 {
		font-size: 24px;
		padding-bottom: 26px;
	}

	.content-row h4 {
		font-size: 20px;
	}
    .btn-lg {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 6px;
    }
}

#slide-4 {
	background-color: #2c3e50;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 100%;
}
    #slide-4 h4 {
		font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 18px;
		font-weight: 300;
        margin:10px;
        color:#5F5F5F;
	}
	#slide-4 .col-12 {
		display: inline-block;
		height: 471px;
		margin: auto;
		padding: 0;
		width: 452px;
        border: 2px solid;
        border-color: #E74C3C;
        border-radius: 25px;
	}
	#slide-4 .subtitle-row {
		font-size: 35px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
    #slide-4 a ,
	#slide-4 img {
		display: inline-block;
		height: 70%;
		margin: 5px auto;
		width: 70%;
	}

@media (max-width: 991px) {
	#slide-4 {
		text-align: center;
		width: 100%;
	}

	#slide-4 .row {
		left: 0 !important;
		margin: 0;
		width: 100% !important;
	}

	#slide-4 .col-12 {
		height: auto;
		width: 50%
	}

	#slide-4 a,
	#slide-4 img {
		height: auto;
		max-height: 70%;
		max-width: 70%;
	}
    #slide-4 .subtitle-row {
		font-size: 26px;
		padding-bottom: 26px;
		padding-top: 26px;
	}
}

@media (max-width: 767px) {
	#slide-4 .col-12 {
		width: 95%;
	}

    #slide-4 h4 {
		font-size: 14px;
	}
    #slide-4 a {
		display: inline-block;
		height: 100%;
		margin: 5px auto;
		width: 60%;
	}
}
@media (max-width: 991px) {
	#slide-3 p {
		margin-top: 50px;
	}
}

#slide-3 {
	background-color: #16a085;
	color: #e4e6e5;
	padding-top: 90px;
}

#slide-3 i {
		font-size: 80px;
		color: white;
	}

#slide-3 h2 {
    font-size: 28px;
    padding-bottom: 40px;
    color: #E4E6E5;
}
#slide-3 .content-row {
    padding-top: 90px;
    padding-bottom: 90px;
}

#slide-5 {
	background-color: #2980b9;
	color: #e4e6e5 ;
	padding-bottom: 90px;
	padding-top: 90px;
}

@media (max-width: 767px) {
	#slide-5 {
		background-image: none;
	}
}
	#slide-5 .font-light a{
		color: #e74c3c;
	}

	#slide-5 a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}

    #slide-5 i {
    font-size: 80px;
    color: #FFF;
}
	#slide-5 .subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}

	#slide-5  h2 {
		font-size: 28px;
		padding-bottom: 40px;
        color:#E4E6E5;
	}


@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 2em;
		margin-top: 1em;
	}
    h2 {
		font-size: 24px;
		padding-bottom: 26px;
	}
}

	#contact-row-4 {
		padding-top: 100px;
	}

	#contact-row-4 .col-12 {
		height: 175px;
		overflow: hidden;
		padding-top: 20px;
		transition: all ease-in .5s;
	}

	#contact-row-4 img {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}

	#contact-row-4 .col-12:hover {
		height: 175px;
		padding-top: 0;
	}

	#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 16px;
        color: #e4e6e5;
	}

#slide-7 {
	background-color: #e4e6e5;
	color: #4e4e4e;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
}

#lightbox-out {
	background-color: rgba( 0, 0, 0, 0.7 );
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.with-hover-text span {
	display: none;
}

.zoom {
	background-image: url('../images/zoom.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

#arrows {
	bottom: 10%;
	height: 80px;
	position: fixed;
	right: 10%;
	width: 80px;
	z-index: 1000;
}

#arrows div {
	background-image: url('../images/website-arrows.png');
	cursor: pointer;
	height: 30px;
	position: absolute;
	width: 30px;
}

#arrows div.disabled {
	cursor: default;
}

#arrow-up {
	background-position: 30px 0;
	left: 25px;
	top: 0;
}

#arrow-up.disabled {
	background-position: 0 0;
}

#arrow-down {
	background-position: 30px -30px;
	left: 25px;
	bottom: 0;
}

#arrow-down.disabled {
	background-position: 0 -30px;
}

#arrow-left {
	background-position: 30px -60px;
	left: 0;
	top: 25px;
}

#arrow-left.disabled {
	background-position: 0 -60px;
}

#arrow-right {
	background-position: 30px -90px;
	right: 0;
	top: 25px;
}

#arrow-right.disabled {
	background-position: 0 -90px;
}

.navigation-slide {
	cursor: pointer;
}
  /* Border-Radius - coded by Helias - css3.openprogrammers.it */
  .radius {
      border-radius: 1em;
      margin: auto;
  }
  .radius:hover { border-radius: 3em; }

  .radius, .radius:hover {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

#slide-4 .row {
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 60px;
    padding-bottom: 120px;
}

#wk1 {
    background-color: #f1c40f;
}

#wk1 .font-semibold, #wk2 .font-semibold ,#wk3 .font-semibold {
    color:#E74C3C;
}

#wk2 {
    background-color: #95a5a6;
}

#wk3 {
    background-color: #2ecc71;
}

 #wk2 img , #wk3 img {
    display: inline-block;
    height: 70%;
    margin: 6px auto;
    width: 100%;
}

#wk1 img {
		display: inline-block;
		height: 70%;
		margin: 5px auto;
		width: 70%;
	}
.fa-youtube-square {
    color: #cc181e;
}
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}
